
.main-container {
  background-color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al principio */
  align-items: center;
  margin: -8px;
  }  


.batch-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}

.main-header{
  color: white;
  margin-bottom: 30px;
}
  
  