
.visualizer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 40%;
    min-width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}